:root {
    --color-bg: #0F1117;
    --color-surface: #1E222C;
    --color-text: #959C8F;
    --border-radius: 10px;
    --border-color: #AD34E3;
    --color-primary:#A349A4;
    --color-primary-hover:#863C87;
    --color-success:#37AB4F;
    --color-danger:#AB1814;

}